.startScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 5em;
  background: #fff;
}

.startScreen div {
  width: 218px;
  height: 279px;

  margin-bottom: 10em;
}

.startScreen button {
  width: 345px;
  height: 72px;
  
  border: 3px solid #FFEF61;
  background: #FFF;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.startScreen button p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  padding-right: 7px;

  color: #000000;
}